@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  /*background-image: radial-gradient(white 60%, rgba(124, 124, 124, 0.767) 100%);*/
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  height: 120%;
  width: 120%;
  object-fit: cover;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  font-size: 1.6rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

.section-title {
  font-size: 6rem;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2 rem;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 500;
}

.section-title span {
  color: #4682b4;
  text-shadow: 2px 2px #1f5c8d;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 2px solid #4682b4;
  font-size: 2rem;
  text-shadow: 2px 2px #4682b4;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 36px;
  transition: 0.3s ease;
  margin-left: 31%;
  transition-property: background-color, color;
}

.cta:hover {
  color: white;
  background-color: #4683b493;
}

/* Hero Section */
#hero {
  background-image: url(./imgs/mike-yukhtenko-wfh8dDlNFOk-unsplash.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-image: radial-gradient(transparent, black);
  opacity: 0.3;
  z-index: -1;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  text-shadow: 3px 2px transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1.5s;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  padding: 50px;
}

#hero h1 span {
  background-color: #4682b4;
  top: 0;
  left: 0;
  height: 100%;
  animation: text_reveal_box 1s ease backwards;
  position: absolute;
  width: 0;
  animation-delay: 1s;
}
/* End Hero Section */

/* Services Section */
#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 0;
}

#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#services .service-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(./imgs/jan-kopriva-IfHAeNOOGQ0-unsplash.jpg);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#services .service-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #021524 0%, rgb(14, 57, 92) 100%);
  opacity: 0.6;
  z-index: -1;
}

#services .service-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 35px;
}

#services .service-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#services .service-item p {
  color: white;
  margin-top: 20px;
  text-align: left;
}
/* End Service Section */

/* Projects Section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .projects-header h1 {
  margin-bottom: 50px;
}

#project .all-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#projects .projects-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#projects .projects-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #3d729e 0%, #2c5170 100%);
  background-color: #486378;
  color: white;
}

#projects .section-title span {
  color: #4682b4;
  text-shadow: 2px 2px #1f5c8d;
}

#projects .projects-info h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4.5rem;
  font-weight: 500;
}

#projects .projects-info h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 20px;
}

#projects .projects-info p {
  color: white;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 5px;
}

#projects .projects-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#projects .projects-img::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #3d729e 0%, #2c5170 100%);
  opacity: 0.2;
}

#projects .projects-img img {
  transition: 0.3s ease transform;
}

#projects .projects-item:hover .projects-img img {
  transform: scale(1.15);
}
/* End Projects Section */

/* About Me Section */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  width: 250px;
  height: 360px;
}

#about .col-right {
  width: 100%;
}

#about .col-right h2 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#about .col-right p {
  margin-bottom: 20px;
}

#about .cta {
  display: inline-block;
  padding: 10px 30px;
  color: #3079b4c7;
  background-color: transparent;
  border: 2px solid #0f324e;
  font-size: 2rem;
  text-shadow: 1px 1px #245d8b;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 36px;
  transition: 0.3s ease;
  margin-left: 0;
  transition-property: background-color, color;
  margin-bottom: 25px;
}

#about .cta:hover {
  color: #2082d1c4;
  background-color: #78afdd93;
}

#about .col-left .about-img {
  position: relative;
  border: 10px solid white;
}

#about .col-left .about-img::after {
  content: "";
  position: absolute;
  left: -30px;
  top: 19px;
  height: 98%;
  width: 99%;
  border: 7px solid #1f5c8d;
  z-index: -1;
}
/* End About Me Section */

/* Contact Section */
#contact .contact {
  flex-direction: column;
  margin-top: 0;
}

#contact .contact-items {
  width: 380px;
  margin-right: 20px;
}

#contact .icon {
  width: 125px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#contact .contact-item {
  width: 90%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(26, 45, 61, 0.527);
  flex-direction: column;
  transition: 0.2s ease box-shadow;
}

#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact .contact-info h2 {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 500;
}

#contact .contact-item:hover {
  box-shadow: 0px 0px 18px 0 rgba(36, 60, 80, 0.527);
}

/* End Contact Section */

/* KeyFrame Section */
@keyframes text_reveal_box {
  50% {
    width: 102%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
    text-shadow: 2px 2px #4682b4;
  }
}
/* End KeyFramee Section */
